<servlet>
    <servlet-name>Rest API</servlet-name>
    <servlet-class>com.sun.jersey.spi.servlet.ServletContainer</servlet-class>

    <init-param>
        <param-name>com.sun.jersey.config.property.packages</param-name>
        <param-value>com.example.jersey</param-value>
    </init-param>

    <init-param>
        <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
        <param-value>true</param-value>
    </init-param>

    <servlet-mapping>
        <servlet-name>Rest API</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</servlet>


